* {
    padding: 0;
    margin: 0;
}
body{
    margin: 0px;
    background-color: #fffbf7;
}
header{
    display: flex;
    background-color:#fffbf7;
    height: 70px;
    position: absolute;
    width: 100%;
}
footer{
    display: flex;
    background-color:#fffbf7;
    height: 50px;
    position: absolute;
    width: 100%;
}
.logo{
    padding: 10px 20px 10px 20px;
    padding-left: 40px;
    font-size: 30px;       
}
.logoa:link{
    text-decoration: none;
}
.logoa{
    color: #808080;
}  
.nav{
    padding-left: 350px;
    font-size: 22px;   
}
.nav li{
    float:left;
    list-style-type: none;
   padding: 10px 20px 10px 20px;
} 
.nav a{
    display: block;
    text-decoration: none;
    color: #808080;
    padding: 10px;
}   
.nav li > ul{
    display: none;
    position: absolute;
    width: 150px;
    background-color: #e67e22;
}   
.nav li > ul a{
    width: 130px;
    display: block;
}
.nav li:hover > ul{
    display: block;
    background-color: #808080;
    color: #fff;
}
.nav a:hover{
    background-color: #808080;
    color: #fff;
    border-radius: 3px;
    transform: scale(1.1);
}
.p1{
    color: #808080;
}
.pageheading{
    color:  #24221F;
    font-size: 40px;
    text-align: center;
    padding-bottom: 100px;
    position: absolute;
    top: 150px;
    padding-left: 30px;
}
.loginpageinfo{
    color: #fff;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 250px;
    padding-left: 30px;
}
.maindiv{
    color:#fff;
}
.loginbelowheader{
    display: flex;
    height: 83%;
}
.leftdiv{
    width: 80%;
    background-color: #fff;
}
.loginformdiv{
    background-color:#FFFBF7;
    width: 30%;
    padding-top: 80px;
    padding-left: 100px;
    margin-left: -15px;
}
.loginscreenimage{
    width: 100%;
    height: 100%;
    position: relative;
}
.leftimginfo{
    position: absolute;
    top:-30px;
}
.radiodiv{
   display: flex;
   padding-bottom: 25px;
}
.formlabel{
    font-size: 22px;
    color: #808080;
    padding-bottom: 10px;
    padding-left: 10px;
}
.labeldiv{
    padding-bottom: 15px;
}
.logininputdiv{
    padding-bottom: 25px;
    padding-left: 30px;
}
.remembermediv{
    padding-bottom: 25px;
    font-size: 17px;
    color: #808080;
    padding-left: 30px;
}
.loginbuttondiv{
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 17px;
}
.loginbutton{
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #808080;
    border-radius: 5px;
}
.loginbuttona{
    text-decoration: none;
    color: #808080;
}
.logininput{
    border: none;
    border-bottom: 1px solid #808080;
    width: 250px;
    background-color: #FFFBF7;
}
.logininput:focus{
    outline: none;
}
.newaccdiv{
    padding-left: 85px;
}
.newacca{
    color: #808080;
}
.newacca:link{
    text-decoration: none;
}
.newacca:hover{
    text-decoration: underline;
}
.loginradiop{
    color: #808080;
}
.loginicon{
    padding-bottom: 5px;
}
.loginicondiv{
    padding: 10px 5px 0px 5px;
    text-align: center;
}
.loginicondiv > .loginradioinput{
    visibility: hidden;
    position: absolute; 
}
.loginicondiv > .loginradioinput + .loginradiop{
    cursor:pointer;
    border:2px solid transparent;
}
.loginicondiv:hover{
    border: 3px solid #808080;
}
.viewpassword{
    margin-left: -20px;
}
.headerdiv{
    padding-bottom: 73px;
}
.homepagebelowheader{
    background-color: #fff;
    width: 100%;
    height: auto;
}
.homepageoddimagediv{
    display: flex;
    padding-top: 40px;
    margin-left: 30px;
    width: 800px;
}
.homepageimage{
    width: 270px;
    height: 200px;
}
.homepageevenimagediv{
    display: flex;
    margin-left: 680px;
    width: 800px;
}
.homepageimagediv{
    padding:15px;
}
.homepageimagediv:hover{
    border: 2px solid #808080;
}
.homepageimagep{
    padding-left: 15px;
    font-size: 18px;
    color: #808080;
}
.footerdiv{
    display: flex;
}
.footerlogo{
    margin-top: 14px;
}
.footercr{
    color: #808080;
    margin-top: 14px;
    margin-left: 530px;
}
.footerp{
    color: #808080;
    margin-top: 14px;
    margin-left: 450px;
}
.followusdiv{
    display: flex;
}
.followimage{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-top: 15px;
}
.followimage:hover{
    transform: scale(1.4);
}
.contactusdiv{
    height: 83%;
}
.contactustextarea{
    color: #808080;
}
.contactuslabel{
    color: #808080;
    font-size: 20px;
}
.contactuslabeldiv{
    padding-bottom: 5px;
}
.contactusinput{
    border: none;
    border-bottom: 1px solid #808080;
    width: 450px;
    background-color: #fff;
}
.contactusinput:focus{
    outline: none;
    background-color: #FFFBF7;
}
.contactusinputdiv{
    margin-bottom: 25px;
}
.contactusformdivs{
    padding-bottom: 15px;
}
.innercontactusdiv{
    padding-left: 500px;
    padding-right: 465px;
    padding-top: 30px;
}
.contactusform{
    padding: 50px;
    background-color: #fff;
}
.callusdiv{
    display: flex;
    padding-left: 115px;
    padding-bottom: 15px;
}
.callusp{
    padding-left: 15px;
    color: #808080;
}
.contactusordiv{
    display:flex;
    align-items:center;
    padding-bottom: 15px;
}
.contactusordiv hr{
    width:207px;
}
.contactusfirsthr{
    margin-right: 10px;
}
.contactussecondhr{
    margin-left: 10px;
}
.contactusbutton{
    width: 450px;
    color: #808080;
    margin-top: 30px;
}
.orp{
    color: #808080;
}
