@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
body{
    margin: 0px;
    background-color: #fffbf7;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    background-color:#fffbf7;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    display: flex;
    background-color:#fffbf7;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo{
    font-size: 30px;       
}
.logoa:link{
    text-decoration: none;
}
.logoa{
    color: #808080;
}
.nav li{
    float:left;
    list-style-type: none;
    padding: 10px 30px 10px 0px;
}
.nav li:last-child{
    padding-right: 0px;
}
.nav a{
    display: block;
    text-decoration: none;
    color: #808080;
    padding: 10px;
    font-size: 18px;
}   
.nav li > ul{
    display: none;
    position: absolute;
    width: 150px;
    background-color: #e67e22;
}   
.nav li > ul a{
    width: 130px;
    display: block;
}
.nav li:hover > ul{
    display: block;
    background-color: #808080;
    color: #fff;
}
.nav a:hover{
    background-color: #808080;
    color: #fff;
    border-radius: 3px;
    transform: scale(1.1);
}
.p1{
    color: #808080;
}
.pageheading{
    color:  #24221F;
    font-size: 40px;
    text-align: center;
    padding-bottom: 100px;
    position: absolute;
    top: 150px;
    padding-left: 30px;
}
.loginpageinfo{
    color: #fff;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 250px;
    padding-left: 30px;
}
.maindiv{
    color:#fff;
}
.loginbelowheader{
    display: flex;
    height: 83%;
}
.leftdiv{
    width: 80%;
    background-color: #fff;
}
.loginformdiv{
    background-color:#FFFBF7;
    width: 30%;
    padding-top: 80px;
    padding-left: 100px;
    margin-left: -15px;
}
.loginscreenimage{
    width: 100%;
    height: 100%;
    position: relative;
}
.leftimginfo{
    position: absolute;
    top:-30px;
}
.radiodiv{
   display: flex;
   padding-bottom: 25px;
}
.formlabel{
    font-size: 22px;
    color: #808080;
    padding-bottom: 10px;
    padding-left: 10px;
}
.labeldiv{
    padding-bottom: 15px;
}
.logininputdiv{
    padding-bottom: 25px;
    padding-left: 30px;
}
.remembermediv{
    padding-bottom: 25px;
    font-size: 17px;
    color: #808080;
    padding-left: 30px;
}
.loginbuttondiv{
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 17px;
}
.loginbutton{
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #808080;
    border-radius: 5px;
}
.loginbuttona{
    text-decoration: none;
    color: #808080;
}
.logininput{
    border: none;
    border-bottom: 1px solid #808080;
    width: 250px;
    background-color: #FFFBF7;
}
.logininput:focus{
    outline: none;
}
.newaccdiv{
    padding-left: 85px;
}
.newacca{
    color: #808080;
}
.newacca:link{
    text-decoration: none;
}
.newacca:hover{
    text-decoration: underline;
}
.loginradiop{
    color: #808080;
}
.loginicon{
    padding-bottom: 5px;
}
.loginicondiv{
    padding: 10px 5px 0px 5px;
    text-align: center;
}
.loginicondiv > .loginradioinput{
    visibility: hidden;
    position: absolute; 
}
.loginicondiv > .loginradioinput + .loginradiop{
    cursor:pointer;
    border:2px solid transparent;
}
.loginicondiv:hover{
    border: 3px solid #808080;
}
.viewpassword{
    margin-left: -20px;
}
.headerdiv{
    border-bottom: 1px solid #808080;
    border-width: thin;
}
.homepagebelowheader{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    width: 100%;
    height: auto;
}
.homepageoddimagediv{
    display: flex;
    float: left;
    padding-top: 40px;
    margin-left: 10px;
    max-width: 800px;
}
.homepageimage{
    width: 270px;
    height: 200px;
}
.homepageevenimagediv{
    display: flex;
    float: right;
    max-width: 800px;
    margin-right: 10px;
}
.homepageimagediv{
    padding:15px;
}
.homepageimagediv:hover{
    border: 2px solid #808080;
}
.homepageimagep{
    padding-left: 15px;
    font-size: 17px;
    color: #808080;
    padding-top: 10px;
}
.footerdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.footerlogo{
    margin-top: 14px;
}
.footercr{
    color: #808080;
    margin-top: 14px;
}
.footerp{
    color: #808080;
    margin-top: 14px;
}
.followusdiv{
    display: flex;
}
.followimage{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-top: 15px;
}
.followimage:hover{
    transform: scale(1.4);
}
.contactusdiv{
    height: 83%;
    padding-top: 70px;
    padding-bottom: 0px;
}
.contactustextarea{
    color: #808080;
}
.contactuslabel{
    color: #808080;
    font-size: 20px;
}
.contactuslabeldiv{
    padding-bottom: 5px;
}
.contactusinput{
    border: none;
    border-bottom: 1px solid #808080;
    width: 450px;
    background-color: #fff;
}
.contactusinput:focus{
    outline: none;
    background-color: #FFFBF7;
}
.contactusinputdiv{
    margin-bottom: 25px;
}
.contactusformdivs{
    padding-bottom: 15px;
}
.innercontactusdiv{
    padding-top: 30px;
    max-width: 560px;
    margin: 0px auto;
}
.contactusform{
    padding: 50px;
    background-color: #fff;
    border-radius: 25px;
}
.callimg{
    width: 20px;
    height: 20px;
}
.callusdiv{
    display: flex;
    padding-left: 115px;
    padding-bottom: 15px;
}
.callusp{
    padding-left: 15px;
    color: #808080;
}
.contactusordiv{
    display:flex;
    align-items:center;
    padding-bottom: 15px;
}
.contactusordiv hr{
    width:207px;
}
.contactusfirsthr{
    margin-right: 10px;
}
.contactussecondhr{
    margin-left: 10px;
}
.contactusbutton{
    width: 450px;
    color: #808080;
    margin-top: 30px;
}
.orp{
    color: #808080;
}
.aboutuscontainer{
    padding: 0px 50px 0px 50px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.signupscreenimage{
    width: 100%;
    height: 100%;
    position: relative;
}
.signupleftdiv{
    width: 40%;
    background-color: #fff;
}
.aboutusfirstpart{
    display: flex;
    align-items: center;
}
.aboutusfirstpartp{
    width: 50%;
    height: 100%;
}
.aboutusfirstpartpimg{
    width: 50%;
    height: 100%;
}
.aboutusyear{
    font-weight: bold;
    text-align: center;
    color: #5c5858;
}
.yearspan{
    text-decoration: underline;
    font-size: 28px;
}
.aboutusp{
    font-size: 22px;
    color: #808080;
    text-align: center;
    margin-top: 30px;
}
.aboutusimg{
    width: 100%;
}
.homepageimageh3{
    color: #808080;
    text-align: center;
    text-decoration: underline;
}
.signupnameinput{
    width: 48.4%;
    box-sizing: border-box;
    float: left;
}
.signupformdiv{
    padding-top: 50px;
    max-width: 510px;
    margin: 0 auto;
}
.signupemailinput{
    width: 100%;
}
.aboutuseven .aboutusfirstpartp{
    order: 2;
}
.loginbelowheader{
    padding-bottom: 5px;
}
.signupformdiv input{
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.signupinputfirst{
    margin-right: 10px;
}



/* Media CSS */

@media (min-width: 768px){
    .navtoggle span{
        display: none;
    }
}

@media (max-width:991px){
    .nav li{
        padding-right: 5px;
    }
    .nav a{
        font-size: 15px;
    }
}
@media (max-width:767px){
    .nav{
        opacity: 0;
        visibility: hidden;
        height: 0px;
        background: #ddd;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        overflow: hidden;
    }
    .nav li{
        width: 100%;
        float: none;
    }
    .nav li a{
        color: #808080;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
    .navtoggle{
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 10;
    }
    .opennav .navtoggle span{
        margin-bottom: 0px;
    }
    .opennav .navtoggle span:first-child{
        transform: rotate(45deg);
        position: relative;
        top: 7px;
    }
    .opennav .navtoggle span:nth-child(2){
        display: none;
    }
    .opennav .navtoggle span:last-child{
        transform: rotate(135deg);
    }
    .navtoggle span{
        width: 25px;
        height: 2px;
        background-color: #808080;
        margin-bottom: 6px;
        display: block;
        margin-top: 5px;
    }
    .opennav .nav{
        opacity: 1;
        visibility: visible;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }
    .nav li{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footerdiv{
        flex-wrap: wrap;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .footercontent{
        width: 100%;
        text-align: center;
    }
    .followusdiv{
        width: 100%;
        justify-content: center;
    }
    .homepageimagediv{
        display: block;
        float: none;
    }
    .homepageimage{
        width: 100%;
        margin-bottom: 15px;
    }
    .homepageimagep{
        padding-left: 0px;
    }
    .homepageoddimagediv{
        margin-left: 0px;
    }
    .homepageevenimagediv{
        margin-right: 0px;
    }
}
